#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld1]
log-bin=mar-bin
binlog-format=row
#max_long_data_size=1000000000
#innodb_log_file_size=2000000000
slave-skip-errors=all
server_id=1
user            = mysql
pid-file        = /var/run/mysqld/mysqld1.pid
socket          = /var/run/mysqld/mysqld1.sock
port            = 3301
bind-address    = 0.0.0.0
datadir         = /data/mysql/mysql1

[mysqld2]
log-bin=mar-bin
binlog-format=row
#max_long_data_size=1000000000
#innodb_log_file_size=2000000000
slave-skip-errors=all
server_id=2
user            = mysql
pid-file        = /var/run/mysqld/mysqld2.pid
socket          = /var/run/mysqld/mysqld2.sock
port            = 3302
bind-address    = 0.0.0.0
datadir         = /data/mysql/mysql2
